@import 'tailwindcss';

@theme {
  --breakpoint-xs: 0rem;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #fef9c2;
  background-color: #302313;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --toastify-color-progress-dark: oklch(66.6% 0.179 58.318);
}
